
<div class = "content">
  <div class = "profile-text">
    <h2>Higashi Ryuya AGE:26</h2>
    <h5>Skills: Unity 5年,Rails 2年,heroku 2年,Git 3年,Symfony 1年</h5>
    <h5>希望年収: 500万</h5>
    <h5>現在年収: 240万</h5>
    <h5>リモート勤務歴: 2年目</h5>
    <h5>作品一覧</h5>
    <img alt="Railsスキル" src=""width="100" height="100"></img>
    <ul>Rails Webサービス
      <li><a href = "https://bibouroku.herokuapp.com/">Bibouroku-備忘録-</a></li>
      <span name="desc"></span>
      <ul>
        <li>エンジニアがこれから実装したいことや、調べることをTodoとして書く</li>
        <li>このサービス内で公開される</li>
        <li>知らない誰かが、そのタスクに参考になりそうなURLを貼ることができる。</li>
      </ul>
      <span>慕った、URLを組み合わせ、解決したURLの手順をテキストとして公開することができます。</span>
      <li><a href = "https://dry-depths-34050.herokuapp.com/">Youtubeオンライン同時視聴サービス</a></li>
      オンラインでチャットをしながら、Youtubeを視聴することが出来るサービスです。
      全てのユーザーが動画再生中にカラオケのように動画を追加することが出来ます。
      <ul>
        <li>Youtubeからのプレイリストを作成することができる</li>
        <li>プレイリストを</li>
        <li>知らない誰かが、そのタスクに参考になりそうなURLを貼ることができる。</li>
      </ul>
      <ul>Unity ゲーム
        <li>Unity Roomに作品を上げて、評価してもらう。もしくはちょくでここで遊べるようにする。</li>
        <li>YoutubeのURLを貼るのがいいかもしれない。もしくはGithubのアカウント</li>
      </ul>

    </ul>
  </div>
  <div class = "profile-image">
    <img  src = ""/>
  </div>
</div>